.vscode
node_modules

/quasar/.quasar
/quasar/.DS_Store
/quasar/.thumbs.db
/quasar/node_modules
/quasar/dist
/quasar/src-cordova/platforms
/quasar/src-cordova/plugins
/quasar/src-cordova/www
/quasar/npm-debug.log*
/quasar/yarn-debug.log*
/quasar/yarn-error.log*

# Editor directories and files
/quasar/.idea
/quasar/.vscode
/quasar/*.suo
/quasar/*.ntvs*
/quasar/*.njsproj
/quasar/*.sln
